@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-paragraph {
    /* Agrega tus estilos personalizados aquí */
    font-size: 1.2rem;
    line-height: 1.6;
    margin-bottom: 1.5rem;
  }